<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kfs.assetedu.repository.Com01CorpRepository">
   <sql id="whereConditon">
		/** 기관 검색 조건 */
		<if test="com01CorpCd != null and com01CorpCd != ''">
	       	AND com01_corp_cd = #{com01CorpCd}
		</if>
		<if test="searchText != null and searchText != ''">
	       	AND upper(concat(com01_corp_cd,com01_corp_nm,com01_corp_type_nm)) like upper(concat('%', #{searchText}, '%'))
		</if>
		<if test="com01CorpType != null">
			AND com01_corp_type = #{com01CorpType} 
		</if>
		
   </sql>	
   <select id="selectList" parameterType="Condition" resultType="Com01Corp">
	   SELECT 
			com01_corp_cd,      /** 기관코드 */           
			com01_corp_nm,      /** 기관명 */            
			com01_corp_type,    /** 기관구분(CorpType) */ 
			com01_corp_enm,     /** 기관영문명 */          
			com01_extn_corp_cd, /** 대외코드 */
            com01_corp_type_nm  /** 기관구분명 */ 
	   FROM ( 
	           SELECT com01_corp.*
	                , f_com_nm('CorpType', com01_corp_type) as com01_corp_type_nm
	             FROM com01_corp
	        ) t
	   WHERE 1=1
		<include refid="whereConditon"/>
	   ORDER BY com01_corp_type, com01_corp_cd, com01_corp_nm
		<if test="offset != null ">
	      	OFFSET ${offset}
		</if>   
		 <if test="limit != null">
		 	LIMIT ${limit}
		 </if>
   </select>
   <select id="selectCount" parameterType="Condition" resultType="Long">
<!--     기관 리스트 갯수 -->
	   SELECT 
			count(*) as count
	   FROM ( 
              SELECT com01_corp.*
                   , f_com_nm('CorpType', com01_corp_type) as com01_corp_type_nm
                FROM com01_corp
           ) t
	   WHERE 1=1
	   	<include refid="whereConditon"/>
   </select>
   
   <select id="selectOne" parameterType="Com01Corp" resultType="Com01Corp">
	   SELECT 
            com01_corp_cd,      /** 기관코드 */           
            com01_corp_nm,      /** 기관명 */            
            com01_corp_type,    /** 기관구분(CorpType) */ 
            com01_corp_enm,     /** 기관영문명 */          
            com01_extn_corp_cd, /** 대외코드 */
            com01_corp_type_nm  /** 기관구분명 */ 
       FROM ( 
               SELECT com01_corp.*
                    , f_com_nm('CorpType', com01_corp_type) as com01_corp_type_nm
                 FROM com01_corp
            ) t
	   WHERE 1=1
		<include refid="whereConditon"/>
   </select>
   <insert id="insert" parameterType="Com01Corp">
      INSERT INTO com01_corp(
			com01_corp_cd, com01_corp_nm, com01_corp_type, com01_corp_enm, com01_extn_corp_cd
	  )
	  VALUES (
	  	   #{com01CorpCd },#{com01CorpNm},#{com01CorpType},#{com01CorpEnm},#{com01ExtnCorpCd }
	  );
   </insert> 
   
   <update id="update" parameterType="Com01Corp">
      UPDATE  
      	com01_corp 
      SET
		com01_corp_cd      = #{com01CorpCd},  	/** 기관코드 */            
		com01_corp_nm      = #{com01CorpNm}, 	/** 기관명 */            
		com01_corp_type    = #{com01CorpType}, 	/** 기관구분(CorpType) */ 
		com01_corp_enm     = #{com01CorpEnm }, 	/** 기관영문명 */          
		com01_extn_corp_cd = #{com01ExtnCorpCd} /** 대외코드 */
      WHERE 1=1
	     AND com01_corp_cd = #{com01CorpCd}
   </update>
       
   <delete id="delete" parameterType="Com01Corp">
      DELETE FROM
      	com01_corp
      WHERE 1=1
      	AND com01_corp_cd = #{com01CorpCd}
   </delete>    

</mapper>