<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kfs.assetedu.repository.Fnd01FundRepository">
   <sql id="whereConditon">
		<!--    검색조건 -->
   		<if test="fnd01FundCd != null">
	       	AND fnd01_fund_cd = #{fnd01FundCd}
		</if>
        <if test="parentYn != null">
            AND ( ( #{parentYn} = 'true'  AND
                    fnd01_parent_cd = '2'  ) OR
                  ( #{parentYn} = 'false' AND
                    fnd01_parent_cd != '2' ) )
        </if>
   		<if test="searchText != null">
	       	AND concat(fnd01_fund_cd,fnd01_fund_nm,fnd01_fund_type_nm) like concat('%',#{searchText},'%')
		</if>
   </sql>	
   
	<select id="selectCount" parameterType="Condition" resultType="Long">
   		SELECT 
   			count(*) as count
   		FROM
   			( SELECT f.*
	               , f_com_nm('FundType'      , fnd01_fund_type)   as fnd01_fund_type_nm
	               , f_com_nm('PublicCode'    , fnd01_public_cd)   as fnd01_public_cd_nm
	               , f_com_nm('FundUnitCode'  , fnd01_unit_cd)     as fnd01_unit_nm
	               , f_com_nm('FundParentCode', fnd01_parent_cd)   as fnd01_parent_nm
	               , CASE WHEN fnd01_parent_fund_cd IS NULL THEN ''
	                      ELSE ( SELECT p.fnd01_fund_nm
	                               FROM fnd01_fund p
	                              WHERE p.fnd01_fund_cd = f.fnd01_parent_fund_cd )
	                      END                                      as fnd01_parent_fund_nm
	               , f_corp_nm(fnd01_mng_co_cd)                    as fnd01_mng_co_nm
	               , f_corp_nm(fnd01_trust_co_cd)                  as fnd01_trust_co_nm
	               , f_corp_nm(fnd01_office_co_cd)                 as fnd01_office_co_nm
	               , f_corp_nm(fnd01_sub_office_co_cd)             as fnd01_sub_office_co_nm
	            FROM fnd01_fund f
	        ) t
       WHERE 1=1
        <include refid="whereConditon"/>    
   </select> 
   
   <select id="selectList" parameterType="Condition" resultType="Fnd01Fund">
       SELECT fnd01_fund_cd                                 as fnd01FundCd         /** 펀드코드 */
            , fnd01_fund_nm                                 as fnd01FundNm         /** 펀드명 */
            , fnd01_fund_type                               as fnd01FundType       /** 펀드유형(FundType) */
            , fnd01_public_cd                               as fnd01PublicCd       /** 공모/사모코드(PublicCode) */
            , fnd01_unit_cd                                 as fnd01UnitCd         /** 펀드단위코드(FundUnitCode) */
            , fnd01_parent_cd                               as fnd01ParentCd       /** 모자구분코드(FundParentCode) */
            , fnd01_parent_fund_cd                          as fnd01ParentFundCd   /** 모펀드코드 */
            , fnd01_start_date                              as fnd01StartDate      /** 설정일자 */
            , fnd01_end_date                                as fnd01EndDate        /** 해지일자 */
            , fnd01_acc_period                              as fnd01AccPeriod      /** 회계기간(개월) */
            , fnd01_first_close_date                        as fnd01FirstCloseDate /** 최초결산일자 */
            , fnd01_cur_cd                                  as fnd01CurCd          /** 기준통화(CurCode) */
            , fnd01_ksd_item_cd                             as fnd01KsdItemCd      /** 예탁원종목코드 */
            , fnd01_kofia_cd                                as fnd01KofiaCd        /** 협회표준코드 */
            , fnd01_kofia_class_cd                          as fnd01KofiaClassCd   /** 협회상품분류코드 */
            , fnd01_fss_cd                                  as fnd01FssCd          /** 금감원펀드코드 */
            , fnd01_manager                                 as fnd01Manager        /** 주운용역 */
            , fnd01_sub_manager                             as fnd01SubManager     /** 부운용역 */
            , fnd01_mng_co_cd                               as fnd01MngCoCd        /** 운용사코드 */
            , fnd01_trust_co_cd                             as fnd01TrustCoCd      /** 수탁사코드 */
            , fnd01_office_co_cd                            as fnd01OfficeCoCd     /** 사무관리사(주)코드 */
            , fnd01_sub_office_co_cd                        as fnd01SubOfficeCoCd  /** 사무관리사(부)코드 */
            , fnd01_fund_type_nm                            as fnd01FundTypeNm     /** 펀드유형명 */
            , fnd01_public_cd_nm                            as fnd01PublicNm       /** 공모/사모코드명 */
            , fnd01_unit_nm                                 as fnd01UnitNm         /** 펀드단위코드명 */
            , fnd01_parent_nm                               as fnd01ParentNm       /** 모자구분코드명 */
            , fnd01_parent_fund_nm                          as fnd01ParentFundNm   /** 모펀드명 */
            , fnd01_mng_co_nm                               as fnd01MngCoNm        /** 운용사명 */
            , fnd01_trust_co_nm                             as fnd01TrustCoNm      /** 수탁사명 */
            , fnd01_office_co_nm                            as fnd01OfficeCoNm     /** 사무관리사(주)명 */
            , fnd01_sub_office_co_nm                        as fnd01SubOfficeCoNm  /** 사무관리사(부)명 */
         FROM (
               SELECT f.*
	                , f_com_nm('FundType'      , fnd01_fund_type)   as fnd01_fund_type_nm
	                , f_com_nm('PublicCode'    , fnd01_public_cd)   as fnd01_public_cd_nm
	                , f_com_nm('FundUnitCode'  , fnd01_unit_cd)     as fnd01_unit_nm
	                , f_com_nm('FundParentCode', fnd01_parent_cd)   as fnd01_parent_nm
	                , CASE WHEN fnd01_parent_fund_cd IS NULL THEN ''
	                       ELSE ( SELECT p.fnd01_fund_nm
	                                FROM fnd01_fund p
	                               WHERE p.fnd01_fund_cd = f.fnd01_parent_fund_cd )
	                       END                                      as fnd01_parent_fund_nm
	                , f_corp_nm(fnd01_mng_co_cd)                    as fnd01_mng_co_nm
	                , f_corp_nm(fnd01_trust_co_cd)                  as fnd01_trust_co_nm
	                , f_corp_nm(fnd01_office_co_cd)                 as fnd01_office_co_nm
	                , f_corp_nm(fnd01_sub_office_co_cd)             as fnd01_sub_office_co_nm
               FROM
                    fnd01_fund f
              ) t
       WHERE 1=1
        <include refid="whereConditon"/>
       ORDER BY fnd01FundCd
        <if test="offset != null and offset != ''">
            OFFSET #{offset}
        </if>
         <if test="limit != null and limit != ''">
            LIMIT #{limit}
         </if>
   </select>
   
   <select id="selectOne" parameterType="Fnd01Fund" resultType="Fnd01Fund">
	   SELECT fnd01_fund_cd                                 as fnd01FundCd         /** 펀드코드 */
            , fnd01_fund_nm                                 as fnd01FundNm         /** 펀드명 */
            , fnd01_fund_type                               as fnd01FundType       /** 펀드유형(FundType) */
            , fnd01_public_cd                               as fnd01PublicCd       /** 공모/사모코드(PublicCode) */
            , fnd01_unit_cd                                 as fnd01UnitCd         /** 펀드단위코드(FundUnitCode) */
            , fnd01_parent_cd                               as fnd01ParentCd       /** 모자구분코드(FundParentCode) */
            , fnd01_parent_fund_cd                          as fnd01ParentFundCd   /** 모펀드코드 */
            , fnd01_start_date                              as fnd01StartDate      /** 설정일자 */
            , fnd01_end_date                                as fnd01EndDate        /** 해지일자 */
            , fnd01_acc_period                              as fnd01AccPeriod      /** 회계기간(개월) */
            , fnd01_first_close_date                        as fnd01FirstCloseDate /** 최초결산일자 */
            , fnd01_cur_cd                                  as fnd01CurCd          /** 기준통화(CurCode) */
            , fnd01_ksd_item_cd                             as fnd01KsdItemCd      /** 예탁원종목코드 */
            , fnd01_kofia_cd                                as fnd01KofiaCd        /** 협회표준코드 */
            , fnd01_kofia_class_cd                          as fnd01KofiaClassCd   /** 협회상품분류코드 */
            , fnd01_fss_cd                                  as fnd01FssCd          /** 금감원펀드코드 */
            , fnd01_manager                                 as fnd01Manager        /** 주운용역 */
            , fnd01_sub_manager                             as fnd01SubManager     /** 부운용역 */
            , fnd01_mng_co_cd                               as fnd01MngCoCd        /** 운용사코드 */
            , fnd01_trust_co_cd                             as fnd01TrustCoCd      /** 수탁사코드 */
            , fnd01_office_co_cd                            as fnd01OfficeCoCd     /** 사무관리사(주)코드 */
            , fnd01_sub_office_co_cd                        as fnd01SubOfficeCoCd  /** 사무관리사(부)코드 */
            , fnd01_fund_type_nm                            as fnd01FundTypeNm     /** 펀드유형명 */
            , fnd01_public_cd_nm                            as fnd01PublicNm       /** 공모/사모코드명 */
            , fnd01_unit_nm                                 as fnd01UnitNm         /** 펀드단위코드명 */
            , fnd01_parent_nm                               as fnd01ParentNm       /** 모자구분코드명 */
            , fnd01_parent_fund_nm                          as fnd01ParentFundNm   /** 모펀드명 */
            , fnd01_mng_co_nm                               as fnd01MngCoNm        /** 운용사명 */
            , fnd01_trust_co_nm                             as fnd01TrustCoNm      /** 수탁사명 */
            , fnd01_office_co_nm                            as fnd01OfficeCoNm     /** 사무관리사(주)명 */
            , fnd01_sub_office_co_nm                        as fnd01SubOfficeCoNm  /** 사무관리사(부)명 */
         FROM (
               SELECT f.*
	                , f_com_nm('FundType'      , fnd01_fund_type)   as fnd01_fund_type_nm
	                , f_com_nm('PublicCode'    , fnd01_public_cd)   as fnd01_public_cd_nm
	                , f_com_nm('FundUnitCode'  , fnd01_unit_cd)     as fnd01_unit_nm
	                , f_com_nm('FundParentCode', fnd01_parent_cd)   as fnd01_parent_nm
	                , CASE WHEN fnd01_parent_fund_cd IS NULL THEN ''
	                       ELSE ( SELECT p.fnd01_fund_nm
	                                FROM fnd01_fund p
	                               WHERE p.fnd01_fund_cd = f.fnd01_parent_fund_cd )
	                       END                                      as fnd01_parent_fund_nm
	                , f_corp_nm(fnd01_mng_co_cd)                    as fnd01_mng_co_nm
	                , f_corp_nm(fnd01_trust_co_cd)                  as fnd01_trust_co_nm
	                , f_corp_nm(fnd01_office_co_cd)                 as fnd01_office_co_nm
                    , f_corp_nm(fnd01_sub_office_co_cd)             as fnd01_sub_office_co_nm
               FROM
                    fnd01_fund f
              ) t
	   WHERE 1=1
		<if test="fnd01FundCd != null">
	       	AND fnd01_fund_cd = #{fnd01FundCd}
		</if>
   </select>
   
   <insert id="insert" parameterType="Fnd01Fund">
      INSERT INTO fnd01_fund
      	( 
      		fnd01_fund_cd, fnd01_fund_nm, fnd01_fund_type, fnd01_public_cd, fnd01_unit_cd, fnd01_parent_cd, fnd01_parent_fund_cd, fnd01_start_date, fnd01_end_date, fnd01_acc_period, fnd01_first_close_date, fnd01_cur_cd, fnd01_ksd_item_cd, fnd01_kofia_cd, fnd01_kofia_class_cd, fnd01_fss_cd, fnd01_manager, fnd01_sub_manager, fnd01_mng_co_cd, fnd01_trust_co_cd, fnd01_office_co_cd, fnd01_sub_office_co_cd
      	) VALUES( 
      		#{fnd01FundCd},#{fnd01FundNm},#{fnd01FundType},#{fnd01PublicCd},#{fnd01UnitCd},#{fnd01ParentCd},#{fnd01ParentFundCd},#{fnd01StartDate},#{fnd01EndDate},#{fnd01AccPeriod},#{fnd01FirstCloseDate},#{fnd01CurCd},#{fnd01KsdItemCd},#{fnd01KofiaCd},#{fnd01KofiaClassCd},#{fnd01FssCd},#{fnd01Manager},#{fnd01SubManager},#{fnd01MngCoCd},#{fnd01TrustCoCd},#{fnd01OfficeCoCd},#{fnd01SubOfficeCoCd}
      	)
   </insert> 
   
   <update id="update" parameterType="Fnd01Fund">
      UPDATE  
      	fnd01_fund 
      SET
		fnd01_fund_cd          = #{fnd01FundCd},         /** 1 펀드코드*/                   
		fnd01_fund_nm          = #{fnd01FundNm},         /** 2 펀드명*/                    
		fnd01_fund_type        = #{fnd01FundType},       /** 3 펀드유형(FundType)*/         
		fnd01_public_cd        = #{fnd01PublicCd},       /** 4 공모/사모코드(PublicCode)*/    
		fnd01_unit_cd          = #{fnd01UnitCd},         /** 5 펀드단위코드(FundUnitCode)*/   
		fnd01_parent_cd        = #{fnd01ParentCd},       /** 6 모자구분코드(FundParentCode)*/ 
		fnd01_parent_fund_cd   = #{fnd01ParentFundCd},   /** 7 모펀드코드*/                  
		fnd01_start_date       = #{fnd01StartDate},      /** 8 설정일자*/                   
		fnd01_end_date         = #{fnd01EndDate},        /** 9 해지일자*/                   
		fnd01_acc_period       = #{fnd01AccPeriod},      /** 10 회계기간(개월)*/              
		fnd01_first_close_date = #{fnd01FirstCloseDate}, /** 11 최초결산일자*/                
		fnd01_cur_cd           = #{fnd01CurCd},          /** 12 기준통화(CurCode)*/         
		fnd01_ksd_item_cd      = #{fnd01KsdItemCd},      /** 13 예탁원종목코드*/               
		fnd01_kofia_cd         = #{fnd01KofiaCd},        /** 14 협회표준코드*/                
		fnd01_kofia_class_cd   = #{fnd01KofiaClassCd},   /** 15 협회상품분류코드*/              
		fnd01_fss_cd           = #{fnd01FssCd},          /** 16 금감원펀드코드*/               
		fnd01_manager          = #{fnd01Manager},        /** 17 주운용역*/                  
		fnd01_sub_manager      = #{fnd01SubManager},     /** 18 부운용역*/                  
		fnd01_mng_co_cd        = #{fnd01MngCoCd},        /** 19 운용사코드*/                 
		fnd01_trust_co_cd      = #{fnd01TrustCoCd},      /** 20 수탁사코드*/                 
		fnd01_office_co_cd     = #{fnd01OfficeCoCd},     /** 21 사무관리사(주)코드*/            
		fnd01_sub_office_co_cd = #{fnd01SubOfficeCoCd}   /** 22 사무관리사(부)코드*/
      WHERE 1=1
	     AND fnd01_fund_cd = #{fnd01FundCd}
   </update>
   
       
   <delete id="delete" parameterType="Fnd01Fund">
      DELETE FROM
      	fnd01_fund
      WHERE 1=1
      	 AND fnd01_fund_cd = #{fnd01FundCd}
   </delete>  
     

</mapper>