<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kfs.assetedu.repository.Sys01UserRepository">
   <sql id="whereConditon">
		<!--    검색조건 -->
   		<if test="sys01UserId != null">
	       	AND sys01_user_id = #{sys01UserId}
		</if>		
   		<if test="searchText != null">
	       	AND sys01_user_nm like concat('%',#{searchText},'%')
		</if>
   </sql>	
	<select id="selectCount" parameterType="Condition" resultType="Integer">
   		SELECT 
   			count(*) as count
   		FROM
   			sys01_user
   		WHERE 1=1
   			<include refid="whereConditon"/>	
   </select> 
   
   <select id="selectList" parameterType="Condition" resultType="Sys01User">
	   SELECT 
	   		 sys01_user_id
	   		,sys01_user_nm
	   		,sys01_pwd
	   FROM 
	   		sys01_user
	   WHERE 1=1
	   	<include refid="whereConditon"/>
	   ORDER BY sys01_user_nm	
		<if test="pageAttr != null and pageAttr.offset != null">
	      	OFFSET #{pageAttr.offset}
		</if>   
		 <if test="pageAttr != null and pageAttr.limit != null">
		 	LIMIT #{pageAttr.limit}
		 </if>
   </select>
   <select id="selectOne" parameterType="Sys01User" resultType="Sys01User">
	   SELECT 
	   		 sys01_user_id
	   		,sys01_user_nm
	   		,sys01_pwd
	   FROM 
	   		sys01_user
	   WHERE 1=1
		<if test="sys01UserId != null">
	       	AND sys01_user_id = #{sys01UserId}
		</if>
   </select>
   <insert id="insert" parameterType="Sys01User">
      INSERT INTO sys01_user
      	( sys01_user_id, sys01_user_nm, sys01_pwd)
      VALUES 
      	( #{sys01UserId}, #{sys01UserNm}, #{sys01Pwd})
   </insert> 
   
   <update id="update" parameterType="Sys01User">
      UPDATE  
      	sys01_user 
      SET
      	sys01_user_id = #{sys01UserId}, 
      	sys01_user_nm = #{sys01UserNm}, 
      	sys01_pwd =#{sys01Pwd}
      WHERE 1=1
	     AND sys01_user_id = #{sys01UserId}
   </update>
       
   <delete id="delete" parameterType="Sys01User">
      DELETE FROM
      	sys01_user
      WHERE 1=1
      	 AND sys01_user_id = #{sys01UserId}
   </delete>    

</mapper>